header {
  // position: fixed;
  display: flex;
  justify-content: space-between;
  height: 80px;
  .header__left {
    display: flex;
    flex-direction: row;

  }
  .header__right {
    .header__right--ul {
      .header__right--ul--li {
        list-style: none;
      }
    }
  }
}
