.hero {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  // height: auto;
  img {
    width: 100%;
  }
  .hero__left {
    width: 50%;
    min-height: 1px;
    margin: 10px;
    .hero__left--h1 {
      font-size: 53px;
    }
    .hero__left--span {
      margin: 50px 0;
      font-size: 25px;
      font-weight: 500;
    }
    .hero__left--h1--btns {
      display: flex;
      align-items: center;
       .hero__left--btn--left,
       .hero__left--btn--right {
         border: 1px solid $blue-btn-color;
         border-radius: 5px;
         padding: 10px 24px;
         margin: 0 10px 0 0;
         background: rgba($blue-btn-color, 0.9);
         color: #fff;
         cursor: pointer;
         &:hover {
           background: rgba($blue-btn-color, 1);
         }
         i {
           margin-right: 10px;
         }
      }
      .hero__left--btn--right {
        margin-left: 10px;
      }
    }
  }
  .hero__right {
    width: 50%;
  }
}
